
/*
!/.gitignore
!/composer.json
!/composer.lock
!/auth.json
!/README.md
!/app/
/app/etc/env.php
!/app/code/
!/app/design/
!/app/etc/
!/app/etc/config.php
!/app/i18n/
/vendor/
/var/
/generated/
/pub/
!/pub/media/
/pub/media/*
!/pub/media/.htaccess
/setup/
/dev/
/lib/
/update/
/bin/
/phpserver/

