<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="haerriz" translate="label" sortOrder="1000">
            <label>Haerriz Extensions</label>
        </tab>
        <section id="haerriz_googleshoppingfeed" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Shopping Feed</label>
            <tab>haerriz</tab>
            <resource>Haerriz_GoogleShoppingFeed::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="api" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Merchant API Integration</label>
                <field id="merchant_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant ID</label>
                    <validate>validate-digits</validate>
                    <comment>Your Google Merchant Center ID (e.g., 5327375994)</comment>
                </field>
                <field id="service_account_json" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Service Account JSON Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Paste the entire contents of your Google Cloud Service Account JSON file here.</comment>
                </field>
            </group>
            <group id="logging" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Developer Logging Settings</label>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Write detailed debug logs to var/log/haerriz_googleshoppingfeed.log.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
