<?xml version="1.0"?>
<!--
/**
 * @author Magebit <info@magebit.com>
 * @copyright Copyright (c) Magebit, Ltd. (https://magebit.com)
 * @license https://magebit.com/code-license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="haerriz_googlefeed_favicon_mime"
                type="Haerriz\GoogleFeed\Plugin\View\Page\Config\RendererPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="haerriz_googlefeed_strip_product_microdata"
                type="Haerriz\GoogleFeed\Plugin\Framework\App\Response\StripProductBodyMicrodataPlugin"
                sortOrder="10"/>
    </type>
</config>
