<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <haerriz_googleshoppingfeed>
            <general>
                <enable>0</enable>
                <cli_php_path></cli_php_path>
                <qa_block_on_critical>0</qa_block_on_critical>
            </general>
            <google_merchant_api>
                <merchant_id></merchant_id>
                <service_account_json></service_account_json>
                <target_country></target_country>
                <target_currency></target_currency>
                <api_mode>production</api_mode>
            </google_merchant_api>
            <logging>
                <debug>0</debug>
            </logging>
            <alerts>
                <enabled>0</enabled>
                <threshold>3</threshold>
                <email></email>
                <slack_webhook_url></slack_webhook_url>
                <delivery_webhook_url></delivery_webhook_url>
            </alerts>
        </haerriz_googleshoppingfeed>
    </default>
</config>
