<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <haerriz_googleshoppingfeed>
            <general>
                <enabled>0</enabled>
            </general>
            <api>
                <merchant_id></merchant_id>
                <service_account_json></service_account_json>
            </api>
        </haerriz_googleshoppingfeed>
    </default>
</config>
