<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <packaging_charges>
            <general>
                <active>1</active>
                <small_fee>20</small_fee>
                <small_limit>2</small_limit>
                <medium_fee>50</medium_fee>
                <medium_limit>10</medium_limit>
                <large_fee>100</large_fee>
            </general>
        </packaging_charges>
    </default>
</config>
